{% extends "base.html" %}

{% block title %}
    <h1>Welcome to my advanced sign-up and log in with Flask and MySQL</h1>
{% endblock %}

{% block content %}
    {% include 'flash_messages.html' %}


    {% if not session['loggedin'] %}
    <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 80px">
        <a class="btn btn-primary" href="{{ url_for('sign_up') }}" role="button">Sign up</a>
        <a class="btn btn-light" href="{{ url_for('log_in') }}" role="button">Log in</a>
    </div>
    {% endif %}

    {% if session['loggedin'] %}
    <h2>Welcome back {{ session['first_name'] }}, you are now logged in.</h2>
    {% endif %}


{% endblock %}