{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form_style.css') }}"/>
{% endblock %}

{% block content %}
    {% include 'flash_messages.html' %}

    <form method="POST" name="reset_password_form" action="{{ url_for('reset_password', token=token) }}" class="needs-validation" novalidate>
        <h1>Create new password</h1>
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.reset_password(class_="form-control") }}
            {{ form.reset_password.label(class_="form-label") }}
            <div class="invalid-feedback">
                Password must be at least 8 characters long.
            </div>
        </div>

        <div class="form-field">
            {{ form.confirm_reset_password(class_="form-control") }}
            {{ form.confirm_reset_password.label(class_="form-label") }}
            <div class="invalid-feedback">
                Passwords must match.
            </div>
        </div>
        {{ form.set_reset_password }}
    </form>



{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}