{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form_style.css') }}"/>
{% endblock %}

{% block content %}
    {% include 'flash_messages.html' %}
    <h1>Settings</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePassword">
        Update password
    </button>

    <!-- Modal -->
    <div class="modal fade" id="updatePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" name="updatePassword" action="{{ url_for('settings') }}" class=" needs-validation" novalidate>
                        {{ form.csrf_token }}
                        <div class="form-field">
                            {{ form.current_password(class_="form-control") }}
                            {{ form.current_password.label(class_="form-label") }}
                            <div class="invalid-feedback">
                                Password must be at least 8 characters long.
                            </div>
                        </div>
                        <div class="form-field">
                            {{ form.new_password(class_="form-control") }}
                            {{ form.new_password.label(class_="form-label") }}
                            <div class="invalid-feedback">
                                Password must be at least 8 characters long.
                            </div>
                        </div>
                        <div class="form-field">
                            {{ form.confirm_new_password(class_="form-control") }}
                            {{ form.confirm_new_password.label(class_="form-label") }}
                            <div class="invalid-feedback">
                                Passwords must match.
                            </div>
                        </div>
                        {{ form.update_password }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ url_for('set_up_2fa') }}" role="button">Set up 2 Factor Authentication</a>
    <a class="btn btn-primary" href="{{ url_for('log_out') }}" role="button">Log out</a>

    <h2>The danger zone...</h2>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_account_modal">
        Delete my account
    </button>

    <!-- Modal -->
    <div class="modal fade" id="delete_account_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deleting your account is irreversible, you will be logged out and lose all your data.
                    There is no going back.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-danger" href="{{ url_for('delete_account') }}" role="button">Yes, delete my
                        account</a>
                    {#                    <button type="button" class="btn btn-primary">Delete my account</button>#}
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}